textarea {
    display: block;
    width: 481px;
    margin-bottom: 5px;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}